.filter-selection p{
    font-size: 1.1rem;
    color: var(--color-secondary-light);
}

.filter {
    position: sticky;
    top:0;
    height: fit-content;
    padding: 2rem;
    z-index: 4;
    background-color: var(--color-white);
    width: 35%;
    min-width: 18rem;
    transform: translateX(0rem);
    border-radius: 0 0 var(--container-border) 0;
}

.plain-text-button, .plain-text-button:active, .plain-text-button:hover {
    box-shadow: none;
    background-color: var(--color-reset);
}

.filter-responsive {
    position: absolute;
    width: 10rem;
    z-index: 5;
    display: none;
}

.hamburger-checkbox {
    position: absolute;
    left: 2rem;
    top:-1rem;
    min-width: 5rem;
    min-height: 5rem;
    z-index: 6;
    opacity: 0;
    display: none;
}

@media (max-width: 810px) {

    .filter {
        position: absolute;
        top: 0;
        left:0;
        transform: translateX(-20rem);
        transition: transform .3s ease-in
    }

    .filter-responsive, .hamburger-checkbox {
        display: block;
    }

    .aside-film {
        content : "";
        position: absolute;
        top: 2rem;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: grey;
        opacity: 0.3;
        z-index: 3;
        visibility: hidden;
    }

    .hamburger-checkbox:checked ~ .filter{
        transform: translateX(0rem);
    }

    .hamburger-checkbox:checked ~ .aside-film{
        visibility: visible;
    }

}